<header class="bg-orange-500 text-sky-100 font-mono">
    <section class="mx-auto flex flex-col max-w-6xl justify-between relative text-sky-100">
        <div class="flex items-center">
            <img src="./assets/img/logo.png" alt="Logo" class="w-24 h-auto mt-10">
            <div>
                <h1 class="text-6xl mt-10">Proyecto Estudio</h1>
                <h4 class="mt-2">Una oportunidad de crecer</h4>
            </div>
        </div>
        <nav class="hidden lg:block space-x-8 text-lg absolute top-0 right-4">
            <a routerLink="" class="hover:opacity-80">Inicio</a>
            <a routerLink="qsomos" class="hover:opacity-80">Quienes Somos</a>
            <a routerLink="acerca" class="hover:opacity-80">Acerca de</a>
            <a routerLink="contacto" class="hover:opacity-80 ">Contacto</a>
        </nav>
        <nav class="hidden lg:block space-x-4 absolute bottom-0 right-4">
            <a href="" class="hover:opacity-80 text-xl"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="" class="hover:opacity-80 text-xl"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="" class="hover:opacity-80 text-xl"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="hover:opacity-80 text-xl"><i class="fa-brands fa-google"></i></a>
            <a href="" class="hover:opacity-80 text-xl"><i class="fa-brands fa-linkedin-in"></i></a>
        </nav>
        <div class="hidden lg:block text-center my-10">
            <h2 class="text-4xl">CRM</h2>
            <p><b>Innovar, mejorar y ampliar</b> el rendimiento de tu empresa siempre será algo que puedes hacer.</p>
            <p><b>Crea, gestiona, registra, almacena y visualiza</b> toda la informacion relacionada con tus clientes y empresa en un mismo sitio.</p>
        </div>
    </section>
</header>