<header class="sticky top-0 bg-orange-500 text-sky-100">
    <section class="h-24 mx-auto flex max-w-6xl items-center justify-between relative">
        <h1 class="text-5xl ml-2">Proyecto Estudio</h1>
        <nav class="hidden space-x-4 text-xl md:block absolute bottom-0 right-4">
            <a routerLink="" class="hover:opacity-80">Home</a>
            <a routerLink="qsomos" class="hover:opacity-80">Quienes Somos</a>
            <a routerLink="acerca" class="hover:opacity-80">Acerca de</a>
            <a routerLink="contacto" class="hover:opacity-80">Contacto</a>
        </nav>
    </section>
</header>