<header class="bg-sky-900 text-sky-100 sticky top-0 z-10 font-bold px-4">
  <section class="mx-auto max-w-6xl justify-between relative text-sky-100 flex items-center">
    <a routerLink="" class="inline-flex my-4  hover:text-orange-500">
      <img src="./assets/img/logo.png" alt="Logo" class="w-20">
      <h1 class="text-4xl">Proyecto Estudio</h1>
    </a>
    <nav class="hidden lg:block space-x-6 space-y-2">
      <a routerLink="qsomos" class=" hover:text-orange-500 ">Quiénes somos</a>
      <a routerLink="clientes" class=" hover:text-orange-500 ">Servicios</a>
      <a routerLink="contacto" class=" hover:text-orange-500 ">Contacto</a>
    </nav>
    <a class="hidden lg:flex space-x-2 hover:text-orange-500 pr-4 cursor-pointer relative">
      <i class="fa-solid fa-magnifying-glass text-3xl"></i>
      <input type="text" class="mt-1 h-full w-32 bg-gray-200 rounded-r border border-gray-300 px-2 focus:outline-none focus:border-gray-500 text-sky-900" placeholder="Buscar...">
    </a>
    <a (click)="openModal()" class="hidden lg:flex space-x-2  hover:text-orange-500 pr-4 cursor-pointer"><i class="fa-regular fa-circle-user text-3xl"></i><p class=" mt-2"></p></a>
  </section>
</header>

<app-modal [isOpen]="isModalOpen" (closeModalEvent)="onModalClose()">
  <app-login></app-login>
  <button (click)="onModalClose()" class="absolute text-4xl top-6 right-6 hover:text-orange-500"><i class="fa-solid fa-xmark"></i></button>
</app-modal>