<section class="max-w-6xl mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Clientes</h1>
  <app-table [header]="headNames" [data]="misClientes" [headerMapping]="headMap" [showAction]="true" (editClientEvent)="editarCliente($event)"></app-table>
  <a (click)="isModalOpen = true" class="flex space-x-2 text-sky-900 hover:text-orange-500 pr-4 cursor-pointer">
    <i class="fa-solid fa-plus text-4xl"></i><p class=" mt-2">Agregar</p>
  </a>
</section>
      

@if (isModalOpen) {
  <div class="fixed inset-0 flex items-center justify-center z-20">
    <div class="absolute inset-0 bg-black opacity-80"></div>
    <div class="relative bg-white p-8 rounded-lg max-w-6xl max-h-min text-sky-900">
      <div class="bg-sky-900 p-2 rounded-full w-20 h-20 flex items-center justify-center mb-4">
        <img src="./assets/img/logo.png" alt="">
      </div>
      <app-a-clientes [cliente]="clienteEnEdicion" (clienteCreado)="agregarCliente($event)"></app-a-clientes>
      <button (click)="cModal()" class="absolute text-4xl text-sky-900 top-6 right-6 hover:text-orange-500">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
}