<div class="max-w-6xl mx-auto">
    <h1>{{titulo}}</h1>
    <p>{{edad}}</p>
</div>

<div class="max-w-6xl mx-auto">
    <button class="w3-button w3-blue w3-hover-text-blue w3-margin w3-border" (click)="mostrarModal()"> modal!</button>
</div>


<div class="max-w-6xl mx-auto">

    <app-table [header]="['id', 'name']" [data]="users" [headerMapping]="{'id':'ID', 'name':'Nombre'}"></app-table>

    <h1>Este es el contador</h1>
    <app-counter
    
        (counter)="counterReceptor($event)"
    
    ></app-counter>
    <p>subiendo.... = {{ receptor }}</p>
</div>
