<div class="max-w-6xl mx-auto">
    <h1>{{titulo}}</h1>
    <p>{{edad}}</p>
</div>


<div class="max-w-6xl mx-auto">

    <app-table [header]="['identificacion', 'name']" [data]="users" [headerMapping]="{'identificacion':'ID', 'name':'Nombre'}" [showAction]=true></app-table>

    <h1>Este es el contador</h1>
    <app-counter
    
        (counter)="counterReceptor($event)"
    
    ></app-counter>
    <p>subiendo.... = {{ receptor }}</p>
</div>

<button class="btn" (click)="openModal()">vanilla</button>

<app-modal [isOpen]="isModalOpen" (closeModalEvent)="onModalClose()">
    <p>contenido aqui</p>
</app-modal>