<div class="w3-center w3-blue">
    <h1>{{titulo}}</h1>
    <p>{{edad}}</p>
</div>

    @if (ocultar) {
    <p class="w3-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, impedit! Est debitis dolor porro non amet? Quas, dolores cumque. Nobis, sapiente similique? Quae voluptatum ea ut repellendus et, facilis nemo.</p>
    }@else {
        <h4>muestra otra cosa</h4>
    }
<div class="w3-center w3-section">
    <button class="w3-button w3-blue w3-hover-text-blue w3-margin w3-border" (click)="mostrarModal()"> modal!</button>
    <button class="w3-button w3-blue w3-hover-text-blue w3-margin w3-border" onclick="document.getElementById('ejemplo').style.display='block'">Otro Modal</button>
</div>
<div id="ejemplo" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container w3-blue w3-center"> 
            <h2>Si no lo sé miro Google, sino pues trato de ser creativo</h2>
        </header>
        <div class="w3-container w3-center">
            <img src="./assets/img/tarea.jpg" alt="tarea">
            <form #form="ngForm" (ngSubmit)="calculatePrimeSum(form.value)">
                <label><b>Numero 1:</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="number" id="num1" name="num1" ngModel required>
                
                <label><b>Numero 2:</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="number" id="num2" name="num2" ngModel required>
                
                <button class="w3-button w3-blue w3-section w3-padding w3-hover-text-blue w3-center" type="submit">Veamos!</button>
            </form>              
            <div *ngIf="sumaPrimo !== null">
                <p>la suma de los numeros primos del intervalo es: {{ sumaPrimo }}</p>
            </div>
        </div>
        <div class="w3-container w3-theme-l4 w3-padding">
            <button class="w3-button w3-right w3-blue w3-border w3-hover-text-blue" onclick="document.getElementById('ejemplo').style.display='none'">Cerrar</button>
            </div>
    </div>
</div>

<app-table
    [users]="users"
    [tituloTabla]="tituloTabla"
></app-table>

<div class="w3-center w3-blue">
    <h1>Este es el contador</h1>
    <app-counter
    
        (counter)="counterReceptor($event)"
    
    ></app-counter>
    <p>subiendo.... = {{ counter }}</p>
</div>